// ┏┓╻+╻ ╱┏┳┓┏┓┏┳┓┏┓╻
// ┃┃┃┃┗━┓╹┃╹┣┫┃┃┃┣┫┃   Read the manpage:
// ╹┗┛╹╱ ╹ ╹ ╹╹╹ ╹╹╹┗┛  $ man nixtamal-manifest
version "1.2.0"
patches {
	nixpkgs-pr411257 "./nixpkgs-pr411257.patch"
	nixpkgs-pr531569 "./nixpkgs-pr531569.patch"
}
inputs {
	nixpkgs {
		archive {
			url "{{fresh_value}}/nixexprs.tar.xz"
		}
		patches "nixpkgs-pr411257" "nixpkgs-pr531569"
		hash algorithm=SHA-256
		fresh-cmd {
			$ curl -Ls --http2 --compressed -o "/dev/null" -w "%{url_effective}" "https://channels.nixos.org/nixos-unstable"
		}
	}
	home-manager {
		archive {
			url "https://github.com/nix-community/home-manager/archive/{{fresh_value}}.tar.gz"
		}
		fresh-cmd {
			$ git ls-remote "https://github.com/nix-community/home-manager.git" --refs "refs/heads/master"
			| cut -f1
		}
	}
	flake-compat {
		archive {
			url "https://github.com/NixOS/flake-compat/archive/{{fresh_value}}.tar.gz"
		}
		fresh-cmd {
			$ git ls-remote "https://github.com/NixOS/flake-compat.git" --refs "refs/heads/master"
			| cut -f1
		}
	}
	sops-nix {
		archive {
			url "https://github.com/Mic92/sops-nix/archive/{{fresh_value}}.tar.gz"
		}
		fresh-cmd {
			$ git ls-remote "https://github.com/Mic92/sops-nix.git" --refs "refs/heads/master"
			| cut -f1
		}
	}
	erosanix {
		archive {
			url "https://github.com/emmanuelrosa/erosanix/archive/{{fresh_value}}.tar.gz"
		}
		fresh-cmd {
			$ git ls-remote "https://github.com/emmanuelrosa/erosanix.git" --refs "refs/heads/master"
			| cut -f1
		}
	}
	niri-flake {
		archive {
			url "https://github.com/sodiboo/niri-flake/archive/{{fresh_value}}.tar.gz"
		}
		fresh-cmd {
			$ git ls-remote "https://github.com/sodiboo/niri-flake.git" --refs "refs/heads/main"
			| cut -f1
		}
	}
	stylix {
		archive {
			url "https://github.com/nix-community/stylix/archive/{{fresh_value}}.tar.gz"
		}
		fresh-cmd {
			$ git ls-remote "https://github.com/nix-community/stylix.git" --refs "refs/heads/master"
			| cut -f1
		}
	}
	wrappers {
		archive {
			url "https://github.com/BirdeeHub/nix-wrapper-modules/archive/{{fresh_value}}.tar.gz"
		}
		fresh-cmd {
			$ git ls-remote "https://github.com/BirdeeHub/nix-wrapper-modules.git" --refs "refs/heads/main"
			| cut -f1
		}
	}
	lazyvim-nix {
		archive {
			url "https://github.com/pfassina/lazyvim-nix/archive/{{fresh_value}}.tar.gz"
		}
		fresh-cmd {
			$ git ls-remote "https://github.com/pfassina/lazyvim-nix.git" --refs "refs/heads/main"
			| cut -f1
		}
	}
}
